footer {
  background-image: url("../../../assets/FOOT4.png"), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;

  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  opacity: 0.9;
  // -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  padding: 10rem 0;

  .logo {
    color: #fff;
    font-size: 5rem;
  }

  nav {
    margin: 10px auto 70px auto;

    .iconsList {
      display: flex;
      justify-content: center;
      z-index: 1000;


      a {


        i {
          height: 50px;
          width: 50px;
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          transition: 0.3s;

        }
      }

      li {
        margin: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: 0.3s;

        &:hover,
        &:focus {
          border: 2px solid $accent;
        }

        &:hover i,
        &:focus i {
          color: $accent;
        }
      }
    }
  }

  .btn {
    background-color: $accent;

    &:hover,
    &:focus {
      background-color: transparent;
      color: #fff;
    }
  }
}

@media (max-width: 750px) {
  .wrapper {
    width: 90%;
  }

  footer {
    background-position: bottom left;

    .logo {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 320px) {
  footer {
    .logo {
      font-size: 3rem;
    }
  }
}