footer {
  background-image: url("../../../assets/mic.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  // min-height: 20vh;
  opacity: 0.8;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  padding: 10rem 20%;

  .logo {
    color: #fff;
    font-size: 5rem;
  }

  nav {
    background-color: transparent;
    width: 45%;
    margin: 10px auto;
  }
}

@media (max-width: 750px) {
  .wrapper {
    width: 90%;
  }

  footer {
    .logo {
      font-size: 3.5rem;
    }

    .nav {
      width: 100%;
      border: 1px solid red;
    }
  }
}
