header {
  background-color: rgb(3, 5, 14);
  height: 100vh;
  // height: auto;
  position: relative;
}

nav {
  padding: 5px 0;

  .navList a {
    padding: 15px 20px;
  }

  .iconsList {
    a {
      padding: 8.5px 9px;

      i {
        height: 25px;
        width: 25px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $accent;
        transition: 0.3s;

        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }

    li {
      margin: 20px;
      border: 2px solid $accent;
      border-radius: 50%;
    }
  }
}

.title {
  margin-top: 180px;
  color: $secondary;
  z-index: 10;
  position: relative;

  h1 {
    margin: 90px 0;

    span {
      display: block;
      font-size: 3rem;
      line-height: 25px;
    }
  }

  p {
    text-transform: uppercase;
  }
}

.headerImgContainer {
  position: absolute;
  bottom: 0;
  right: 100px;
  opacity: 0.4;
}

.buyMusic {
  margin-top: 50px;
  text-align: center;
}

.arrowDown {
  margin-top: 40px;
  font-size: 2rem;
  color: $accent;
  display: block;
  animation: arrowDown 2s infinite;
}

@keyframes arrowDown {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 780px) {
  .title {
    text-align: center;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  .headerImgContainer {
    right: 0;
  }
}

@media (max-width: 430px) {
  nav {
    .iconsList {
      a {
        padding: 6.5px;
      }
    }
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .buyMusic {
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  nav {
    .iconsList {
      li {
        margin: 10px;
      }
      a {
        font-size: 0.3rem;
        padding: 0;

        i {
          font-size: 0.8rem;
        }
      }
    }
  }

  .title {
    h1 {
      margin-top: -60px;
      font-size: 2.8rem;

      span {
        font-size: 2.8rem;
      }
    }
  }

  .btn {
    font-size: 0.8rem;
    padding: 10px;
    margin-top: -100px;
  }
}
