.music {
  background-image: url("../../../assets/texture.jpeg");

  .iframeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

    iframe {
      width: 595px;
      height: 595px;

    }

  }
}



@media (max-width: 760px) {
  .music {
    iframe {
      width: 93%;
    }
  }
}