.music {
  background-image: url("../../../assets/texture.jpeg");

}

.iframeContainer {
  display: flex;
  justify-content: center;

  #tunecube {
    width: 595px;
    height: 595px;

  }
}

.video {
  background-image: url("../../../assets/iu.jpg");
  background-size: cover;

  h3 {
    color: #fff;
  }
}



@media (max-width: 760px) {
  .music {
    iframe {
      width: 93%;
    }
  }
}