.music {
  background-image: url("../../../assets/texture.jpeg");

  .frame {
    text-align: center;

    iframe {
      width: 600px;
    }
  }
}

@media (max-width: 690px) {
  .music {
    .frame {
      iframe {
        width: 450px;
      }
    }
  }
}

@media (max-width: 430px) {
  .music {
    .frame {
      iframe {
        width: 365px;
      }
    }
  }
}

@media (max-width: 375px) {
  .music {
    .frame {
      iframe {
        width: 330px;
      }
    }
  }
}
