html {
  font-size: 125%;
}

body {
  font-family: $primaryFont;
  font-size: $baseFontSize;
  color: $primary;
}

h1,
h2,
h3,
h4,
p,
a,
input {
  margin: 0;
  padding: 0;
}

h1,
.logo {
  font-family: $secondaryFont;
  text-transform: uppercase;
  color: $secondary;
}

.logo {
  font-size: 1.5rem;
  padding: 15px 0;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: -2.5px;
  margin-bottom: 10px;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
  color: $secondary;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;

  &:hover,
  &:focus {
    color: $accent;
  }
}
